<%- include('./layouts/header') %>

<div class="container">
  <div class="col-md-5 offset-md-3">
    <div class="card card-body bg-dark p-4 text-white rounded-0">
      <h4>Editando tarea</h4>
      <form action="/task/<%=task._id%>/edit" method="post">
        <div class="mb-3">
          <input
          type="text"
          name="title"
          placeholder="Titulo"
          value="<%=task.title%>"
          class="form-control rounded-0 bg-dark text-white"
        />
        </div>
        <div class="mb-3">
          <textarea
          type="text"
          name="description"
          placeholder="Descripción"
          class="form-control rounded-0 bg-dark text-white"
          ><%=task.description%></textarea>
        </div>
        <a href="/" class="btn btn-info">Regresar</a>
        <button class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
</div>

<%- include('./layouts/footer') %>
